.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.logoColor {
  color: #53c28b;
}

.link{
  margin: 5px 15px;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 10px;
}

.linkWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logout {
  padding: 5px;
  border: none;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

.active{
  color: #53c28b;
}